[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/opt/kubernetes/server/bin/kube-scheduler \
--v=2 \
--log-dir=/opt/kubernetes/logs \
--leader-elect \
--kubeconfig=/opt/apps/kubernetes/conf/kube-scheduler.kubeconfig \
--bind-address=127.0.0.1
Restart=on-failure

[Install]
WantedBy=multi-user.target
