[Unit]
Description=Kubernetes Proxy
After=network.target

[Service]
ExecStart=/opt/kubernetes/server/bin/kube-proxy \
--v=2 \
--log-dir=/opt/kubernetes/logs \
--config=/opt/apps/kubernetes/conf/kube-proxy-config.yaml
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
